#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
}
.header {
  background-color: rgb(73, 94, 87);
  height: 70px;
  margin: 10px 0px;
}

.title {
  color: #f4cf14;
}

h2 {
  font-size: 2em;
}
